*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(71, 12, 12);
    padding: 10px 10px;
    
    

}

header > h1 {
    color: white;

}

body {

}

main {
    width: 700px;
    background-color: bisque;
    padding: 10px 10px;
    
}

footer {
    background-color: brown;
}